<div id="formContainer">
    <input type="text" name="url" id="url" autocomplete="off">
    <button type="button" class="btn btn-primary" id="add">Add</button>
    <a href="/users/logout" class="btn btn-secondary" id="logout">Logout</a>
</div>
<h1 class="mt-4" id="title">My Playlist</h1>

<% if(playlist.length == 0) {%>
    <p id="emptyContainer">No playlists to display</p>
<% } %>
<div id="itemContainer">
</div>