<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 style="color: red;"><i class="fab fa-youtube fa-4x"></i></h1>
        <p id="welcome-title">Welcome to Youtube Playlist Player</p>
        <p id="welcome-subtitle">Please Login to enjoy!</p>
        <hr>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">
            Register
        </a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
</div>